<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269604310634-p1qq5effchjji9h7rei87fr5gf1v6grg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269604310634-p1qq5effchjji9h7rei87fr5gf1v6grg</string>
	<key>API_KEY</key>
	<string>AIzaSyB6pPIrr4AIl_td_ODRVG8Cdc_F16dSnb0</string>
	<key>GCM_SENDER_ID</key>
	<string>269604310634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thanhhoaGarden</string>
	<key>PROJECT_ID</key>
	<string>thanhhoa-5b7f5</string>
	<key>STORAGE_BUCKET</key>
	<string>thanhhoa-5b7f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269604310634:ios:aa381f5568ba8eb773c413</string>
</dict>
</plist>